body{
    width:960px;
    margin:0 auto;
    background-color:lightskyblue;
}
#atms{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}
.atm{
    position:relative;
    width:50px;
    height:100px;
    margin:40px;
    background-color:lightgray;
    border:2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}
.wrapper {
    display:inline-block;
    text-align: center;  
}
#counter{
    display:flex;
    justify-content: center;
    margin:0 auto;
    width:40px;
    height:100px;
    text-align: center;
    border:2px solid black;
    border-radius: 5px;
}

ul{
    position:absolute;
    top: 80px;
    width:300px;
}
#root{
    display: flex;
    justify-content: center;
    margin:auto 0;
}
.btn{
    width:100px;
    padding-bottom:10px;
    padding-top:10px;
    border-radius: 5px;
    margin:0 auto;
    margin-top:20px;
    color:white;
    background-color: blueviolet;
    cursor:pointer;
}
.type{
    width:100px;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
}
.form{
    display:flex;
    flex-direction: column; 
}
#atms span{
    position:absolute;
    color:white;
    right:31%;
    top:70px;
}
#atms span:hover{
    cursor:pointer;
}
#atms div{
    position:relative;
    padding-top:10px;
}
#atms p{
    text-align:center;
}
.display{
    width:30px;
    height:30px;
    margin: 0 auto;
    border:1px solid black;
    border-radius: 5px;
}
p.speech {
    position: relative;
    margin:0 auto;
	width: 120px;
    height: 50px;
    font-style:italic; 
	line-height: 50px;
	background-color: #fff;
	border: 3px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 1px 1px 2px #888;
}
p.speech:before { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 55px; 
	top: 50px; 
	border: 10px solid; 
	border-color: #666 transparent transparent #666; 
}
p.speech:after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 58px; 
	top: 50px; 
	border: 6px solid; 
	border-color: #fff transparent transparent #fff; 
}
#popup{
    display: none;
    /* visibility: hidden; */
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    left:0px;
}
#popup-content{
    margin:40px auto 0px auto;
    width:200px;
    text-align: center;
    height: 50px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}
#popup-content span{
    font-size: 26px;
    color:white;
}
